In [1]:
import pandas as pd
from bs4 import BeautifulSoup as bs
import requests

In [2]:
url="https://stackexchange.com/leagues/1/alltime/stackoverflow/2008-07-31?sort=reputationchange&page=1"

In [3]:
soup=bs(requests.get(url).content,"html.parser")

In [4]:
df=pd.DataFrame()
for i in range(1,10):
    url="https://stackexchange.com/leagues/1/alltime/stackoverflow/2008-07-31?sort=reputationchange&page="+str(i)
    soup=bs(requests.get(url).content,"html.parser")
    data=[]
    ranks=soup.select(".contentWrapper div.league-container div:nth-child(1) span.number")
    names=soup.select(".contentWrapper div.league-container div.userInfo h2 a")
    golds=soup.select(".contentWrapper div.league-container div.userInfo span:nth-child(2) span.badgecount")
    silvers=soup.select(".contentWrapper div.league-container div.userInfo span:nth-child(3) span.badgecount")
    bronzes=soup.select(".contentWrapper div.league-container div.userInfo span:nth-child(4) span.badgecount")
    memberships=soup.select(".contentWrapper div.league-container div.userInfo span.faintText")
    reputations=soup.select(".contentWrapper div.league-container div:nth-child(2) span.number")

    for rank,name,gold,silver,bronze,membership,reputation in zip(ranks,names,golds,silvers,bronzes,memberships,reputations):
        data.append({
            "Rank":rank.text,
            "Name":name.text,
            "Gold":gold.text,
            "Silver":silver.text,
            "Bronze":bronze.text,
            "Membership":membership.text,
            "Reputation":reputation.text
        })

    ndf=pd.DataFrame(data)
    df=pd.concat([df,ndf],ignore_index=True)
#df.head()

# Clean Data

In [5]:
df["Membership"]=(df.Membership.str.split(": ").str[1].str.split(",").str[0]+" and "+df.Membership.str.split(": ").str[1].str.split(",").str[1].str[:-5]).str.strip()

In [6]:
df["Rank"]=df["Rank"].str.replace("#","").str.strip()
df["Reputation"]=df.Reputation.str.replace(",","")
df

,Rank,Name,Gold,Silver,Bronze,Membership,Reputation
0,1,Jon Skeet,823,8936,9057,13 years and 8 months,1338159
1,2,Gordon Linoff,53,576,712,10 years and 5 months,1199855
2,3,VonC,481,4050,4770,13 years and 9 months,1132323
3,4,BalusC,362,3548,3514,12 years and 10 months,1042402
4,5,Darin Dimitrov,265,3241,2903,13 years and 8 months,995786
...,...,...,...,...,...,...,...
265,266,TIMEX,337,751,1061,12 years and 8 months,239306
266,267,Mark Rushakoff,44,399,395,NaN,238456
267,268,jalf,51,337,547,13 years and 7 months,236586
268,269,Justin Niessner,38,403,530,13 years and 2 months,236289
269,270,Dimitre Novatchev,26,291,421,13 years and 7 months,235735